/* body */
body {
    font-family: 'Lato', sans-serif;
}

/* titles */
h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
}

/* data */
table, table * {
    font-family: 'Lato', monospace;
}

/* quotes, lists */
blockquote {
    font-family: 'Lato', sans-serif;
}

ul, li {
    font-family: 'Lato', sans-serif;
}

/*header*/
.map-container {
    position: relative;
}

.map-container .waypoint {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 25%;
    right: 20%;
}

/* Header img*/
img {
    width: 100%;
}

.overtitle {
    width: 50rem;
    position: relative;
    padding-top: 6%;
    text-align: center;
}

.overtitle img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.overtitle h4, h6 {
    margin-left: auto;
    color: #1f1f1f;
    /*    margin-top: 5rem;
    color: pink;*/
}

/* logo placem*/
.map-container {
    position: relative;
}

.title {
    width: 120px;
    height: 220px;
    position: absolute;
    bottom: 45%;
    right: 75%;
    color: white;
    background-color: pink;
    padding-bottom: 15px;
    padding-right: 17px;
}

/* map*/
/*   contant */
.row {
    display: flex;
}

.row .col {
    width: 50%;
}

.leftside, .rightside {
    min-height: 20vh;
    width: 100%;
}

.leftside {
    background: white;
    padding-bottom: 153px;
}

.rightside {
    background: white;
}

#img1 {
    width: 90%;
    padding: 10px;
    padding-top: 40px;
}

.paragraphe {
    padding-left: 40px;
    padding-top: 60px;
}

/*   contant2 */
.paragraphe2 {
    padding-left: 40px;
    padding-top: 60px;
    min-height: 30vh;
    color: white;
}

.container2 {
    background-color: white;
}

/*   contant3 */
.paragraphe3 {
    padding-left: 40px;
    padding-top: 60px;
}

.leftside {
    padding-bottom: 0px;
}

/*   contant4 */
.leftside4 {
    color: white;
    background-color: #ffd369;
    padding: 30px;
    margin-left: 130px;
}

#txt {
    color: white;
    background-color: #ffd369;
}

#blocktext {
    padding: 150px;
}